In [82]:
import pandas as pd
from sqlalchemy import create_engine
import pyodbc
from datetime import datetime

In [36]:
customers = pd.read_csv(r'../data\olist_customers_dataset.csv')

In [37]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [8]:
customers.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [29]:
table_name_cst = 'customers'
table_name_geoloc = 'geolocation'
table_name_order_items = 'order_items'
table_name_order_pay = 'order_payments'
table_name_order_reviews = 'order_reviews'
table_name_orders = 'orders'
table_name_prd = 'products' 
table_name_sellers = 'sellers'
tables_name_cat_trans = 'category_name_transactions'

In [49]:
engine = create_engine('mssql+pyodbc://@ASUS-ROG\\SQLEXPRESS/ecomerce_project?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes')

In [ ]:
customers.to_sql(table_name_cst,
                engine,
                schema='bronze',
                if_exists='replace',
                index=False)

In [38]:
geolocation = pd.read_csv(r'../data\olist_geolocation_dataset.csv')
geolocation.isna().sum()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [45]:
geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [63]:
order_items = pd.read_csv(r'../data\olist_order_items_dataset.csv')
order_items.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [51]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [56]:
order_payments = pd.read_csv(r'../data\olist_order_payments_dataset.csv')
order_reviews = pd.read_csv(r'../data\olist_order_reviews_dataset.csv')
orders = pd.read_csv(r'../data\olist_orders_dataset.csv')
products = pd.read_csv(r'../data\olist_products_dataset.csv')
sellers = pd.read_csv(r'../data\olist_sellers_dataset.csv')
translation = pd.read_csv(r'../data\product_category_name_translation.csv')

393

In [106]:
def load_to_sql(df, table_name):
    try:
        start_time = datetime.now()
        print(f'Start loading {table_name}')
        df.columns = df.columns.str.strip()
        df.to_sql(table_name, engine, schema='bronze', if_exists='replace', index=False)
        end_time = datetime.now()
        duration = (end_time - start_time).total_seconds()
        print(f'Successfully Loaded {table_name}.\nSchema: bronze.\nTotal rows loaded: {len(df)}\nTotal columns: {len(df.columns)}\nColumns: {list(df.columns)}\nLoad Duration: {duration} sec')
        print('=================================================================================')
        msg = f'{end_time.strftime('%Y-%m-%dT%H:%M:%S')} Loaded {table_name} table to bronze schema. Load duration: {duration} sec.\n'
    except Exception as e:
        print(f'Error loading table: {table_name}')
        print(f'Error: {e}\n')
        msg = f'{datetime.now().strftime('%Y-%m-%dT%H:%M:%S') Error {e} loading table: {table_name}.\n}'
    finally:
        with open('log.txt', 'a') as f:
            f.write()

In [107]:
# test load_to_sql(customers, table_name_cst)

Start loading customers
Successfully Loaded customers.
Schema: bronze.
Total rows loaded: 99441
Total columns: 5
Columns: ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']
Load Duration: 1.727469 sec
=================================================================================

In [108]:
load_to_sql(customers, table_name_cst)
load_to_sql(order_payments, table_name_order_pay)
load_to_sql(geolocation, table_name_geoloc)
load_to_sql(order_items, table_name_order_items)
load_to_sql(order_payments, table_name_order_pay)
load_to_sql(order_reviews, table_name_order_reviews)
load_to_sql(orders, table_name_orders)
load_to_sql(products, table_name_prd)
load_to_sql(sellers, table_name_sellers)
load_to_sql(translation, tables_name_cat_trans)

Start loading customers
Successfully Loaded customers.
Schema: bronze.
Total rows loaded: 99441
Total columns: 5
Columns: ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']
Load Duration: 2.282912 sec
=================================================================================
Start loading order_payments
Successfully Loaded order_payments.
Schema: bronze.
Total rows loaded: 103886
Total columns: 5
Columns: ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']
Load Duration: 1.686753 sec
=================================================================================
Start loading geolocation
Successfully Loaded geolocation.
Schema: bronze.
Total rows loaded: 1000163
Total columns: 5
Columns: ['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']
Load Duration: 16.15013 sec
=================================================================================
Start loading order_items
Successfully Loaded order_items.
Schema: bronze.
Total rows loaded: 112650
Total columns: 7
Columns: ['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']
Load Duration: 2.415434 sec
=================================================================================
Start loading order_payments
Successfully Loaded order_payments.
Schema: bronze.
Total rows loaded: 103886
Total columns: 5
Columns: ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']
Load Duration: 1.655606 sec
=================================================================================
Start loading order_reviews
Successfully Loaded order_reviews.
Schema: bronze.
Total rows loaded: 99224
Total columns: 7
Columns: ['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']
Load Duration: 22.600722 sec
=================================================================================
Start loading orders
Successfully Loaded orders.
Schema: bronze.
Total rows loaded: 99441
Total columns: 8
Columns: ['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']
Load Duration: 25.828045 sec
=================================================================================
Start loading products
Successfully Loaded products.
Schema: bronze.
Total rows loaded: 32951
Total columns: 9
Columns: ['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
Load Duration: 10.541957 sec
=================================================================================
Start loading sellers
Successfully Loaded sellers.
Schema: bronze.
Total rows loaded: 3095
Total columns: 4
Columns: ['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']
Load Duration: 0.236014 sec
=================================================================================
Start loading category_name_transactions
Successfully Loaded category_name_transactions.
Schema: bronze.
Total rows loaded: 71
Total columns: 2
Columns: ['product_category_name', 'product_category_name_english']
Load Duration: 0.026266 sec
=================================================================================